<!DOCTYPE html>
<!--
Temporary Access Badge System - Admin Portal
Copyright: SFO 2016
-->
<html lang="en">

{% load staticfiles %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0" />
    <meta name="description" content="Temporary Access Badge System - Admin Portal">
    <meta name="author" content="Alex Vincent, Lawrence Ouyang">

    {% block title %}
    {% endblock title %}

    {% load staticfiles %}

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'tbadge_portal/img/sfo-favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'tbadge_portal/css/normalize.min.css' %}">

    {# Bootstrap #}
    <link rel="stylesheet" type='text/css' href="{% static 'tbadge_portal/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type='text/css' href="{% static 'tbadge_portal/bootstrap/css/bootstrap-theme.min.css' %}">

    {# Font #}
    <link rel='stylesheet' type='text/css' href="{% static 'tbadge_portal/open-sans/open-sans.css' %}">
    <link rel="stylesheet" type='text/css' href="{% static 'tbadge_portal/font-awesome/css/font-awesome.min.css' %}">

    {# DataTables stylesheets #}
    <link rel="stylesheet" type='text/css' href="{% static 'tbadge_portal/DataTables/media/css/dataTables.bootstrap.min.css' %}">

    {# DataTables responsive stylesheets #}
    <link rel="stylesheet" type='text/css' href="{% static 'tbadge_portal/DataTables/Responsive-2.1.0/css/responsive.bootstrap.min.css' %}" />
    <link rel="stylesheet" type='text/css' href="{% static 'tbadge_portal/DataTables/Responsive-2.1.0/css/responsive.dataTables.min.css' %}"/>

    {% block stylesheets %}
    {% endblock stylesheets %}

    {# Custom Theme #}
    <link rel="stylesheet" type="text/css" href="{% static 'tbadge_portal/css/theme.css' %}" />

    {# Navbar Styling #}
    <link rel="stylesheet" type="text/css" href="{% static 'tbadge_portal/css/navbar.css' %}" />

    {# JQuery #}
    <script type="text/javascript" src="{% static 'tbadge_portal/jquery/jquery-2.2.4.min.js' %}"></script>

    {# Bootstrap #}
    <script type="text/javascript" src="{% static 'tbadge_portal/bootstrap/js/bootstrap.min.js' %}"></script>

    {# Moment #}
    <script type="text/javascript" src="{% static 'tbadge_portal/moment/moment.min.js' %}"></script>

    {# DataTables #}
    <script type="text/javascript" src="{% static 'tbadge_portal/DataTables/media/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'tbadge_portal/DataTables/media/js/dataTables.bootstrap.js' %}"></script>

    {# DataTables Responsive #}
    <script type="text/javascript" src="{% static 'tbadge_portal/DataTables/Responsive-2.1.0/js/dataTables.responsive.min.js' %}"></script>

    {# Hashids #}
    <script type="text/javascript" src="{% static 'tbadge_portal/hashids/hashids.js' %}"></script>

    {# Message Autoclose #}
    <script type="text/javascript" src="{% static 'tbadge_portal/js/message-autoclose.js' %}"></script>

    {# Prevent Drag #}
    <script type="text/javascript" src="{% static 'tbadge_portal/js/drag-break.js' %}"></script>

    {# Custom JS #}
    {% block javascripts-before %}
    {% endblock javascripts-before%}

</head>


<nav>
{% block navbar %}
    {% include "tbadge_portal/navbar.html" %}
{% endblock navbar %}

</nav>
<messages>
    {% block messages %}
        {% include "tbadge_portal/messages.html" %}
    {% endblock messages%}
</messages>

<body>
    <div id="container">
        {% block container %}{% endblock container %}
    </div>
</body>

<footer>
    {% block footer %}
        {% include "tbadge_portal/footer.html" %}
    {% endblock footer %}
</footer>

{% block javascripts-after %}{% endblock javascripts-after %}
</html>